CURRENT_ENV=dev
HOST_NAME=http://localhost:3000
API_URL=https://testnet-api-evm.orderly.org/v1/public
TOKEN_API_URL=https://interface.gateway.uniswap.org/v1/graphql
IMAGE_DOMAIN=
BROKER_ID=tcmp
NEXTWORK_URL=https://oss.orderly.network/