@font-face {
  font-family: var(--font-family-base);
  src: url(../../../public/fonts/Tahoma_Regular.ttf);
  weight: 400;
}

@font-face {
  font-family: var(--font-family-base);
  src: url(../../../public/fonts/Tahoma_Bold.TTF);
  weight: 600;
}